{{=form}}

En nivå avgör vilka grupper en ryttare kan rida igen i. Exempel:<br>
<hr>
Följande nivåer finns inlagda:<br>
<b>Nybörjare Klass 1 - 5 poäng<br>
<b>Nybörjare Klass 2 - 10 poäng<br>
<b>Avancerad Klass 1 - 20 poäng<br>
<b>Avancerad Klass 2 - 40 poäng</b><br>
<br>
Om ryttare X rider i en grupp som har nivån Avancerad Klass 2, så avgör poängen vilka grupper dom kan rida igen i. Denna ryttare kan rida igen i alla lektioner. Medans ryttare Y, som går i Nybörjare Klass 1, endast kan rida igen i grupper som har samma nivå. Poängen i den grupp som ryttaren rider i avgör vilka grupper som dom kan rida igen i.<br><br>

{{=levels}}
