/*
viewfuture = Normal mainColor
viewhistorical = Shaded mainColor
rebooking = Light mainColor
blackdate = Light gray
today = Other distinct color
#Lektion En lektion måste avbokas minst 4 timmar innan lektionen börjar.
lastcall
empty = Is only returned if the array is empty(as in something went wrong, but lets not break the calendar)
*/

/*

viewfuture = Future dates that can be cancelled
cancelled = Leasons that have been cancelled
viewhistorical = Past leasons ridden
rebooked = Leasons that are rebooked for a customer
rebooking = Leasons that can be rebooked
blackdate = Riding school closed
lastcall(this is a special one if todays date is a leason date) = Other distinct color
empty = Is only returned if the array is empty(as in something went wrong, but lets not break the calendar). It does not need its own color.

*/



/** Common stuff **/
$textcolor: #fff;
$style: solid;

/*Colors */
$future-color: #46a546;
$cancelled-color: #ffc40d;
$historical-color: #999;
$rebooked-color: #89B814;
$rebooking-color: #b1eb14;
$blackdate-color: #222;
$lastcall-color: #9d261d;
$today-color: #049cdb;

$light: 10%;
$lighter: 20%;
$lightest: 30%;


/** FUTURE **/
.eventsCalendar-daysList li.viewfuture a {
    background-color: $future-color;
    color:$textcolor;
}

li.eventsCalendar-day.viewfuture a:hover {
    background-color: lighten($future-color, $lightest);
}

/** CANCELLED **/
.eventsCalendar-daysList li.cancelled a {
    background: $cancelled-color;
    color:$textcolor;
}

li.eventsCalendar-day.cancelled a:hover {
    background-color: lighten($cancelled-color, $lightest);
}


/** HISTORICAL **/
.eventsCalendar-daysList li.viewhistorical a {
    background: $historical-color;
    color:$textcolor;
    opacity: 0.5
}

li.eventsCalendar-day.viewhistorical a:hover {
    background-color: lighten($historical-color, $lightest);
    opacity: 0.9
}

/** REBOOKED **/
.eventsCalendar-daysList li.rebooked a {
    background:$rebooked-color;
    color:$textcolor;
}
li.eventsCalendar-day.rebooked a:hover {
    background-color: lighten($rebooked-color, $lightest);
}

/** REBOOKING **/
.eventsCalendar-daysList li.rebooking a {
    background: $rebooking-color;
    color:$textcolor;
}
li.eventsCalendar-day.rebooking a:hover {
    background-color: lighten($rebooking-color, $lightest);
}

/** BLACKDATE **/
.eventsCalendar-daysList li.blackdate a {
    background: $blackdate-color;
    color:$textcolor;
}
li.eventsCalendar-day.blackdate a:hover {
    background-color: lighten($blackdate-color, $lightest);
}

/** LASTCALL **/
.eventsCalendar-daysList li.lastcall a {
    background: $lastcall-color;
    color:$textcolor;
}
li.eventsCalendar-day.lastcall a:hover {
    background-color: lighten($lastcall-color, $lightest);
}

/** TODAY **/
.eventsCalendar-daysList li.current a {
    color:$textcolor;
    background: $today-color;
    box-shadow:inset 5px 5px 10px #216B7A;
    text-shadow: 2px 2px 2px #216B7A;
}
li.eventsCalendar-day.current a:hover {
    background-color: lighten($today-color, $lightest);
    box-shadow:inset 5px 5px 10px #449FB2;
    text-shadow: 2px 2px 2px #449FB2;
}


