/*
viewfuture = Normal mainColor
viewhistorical = Shaded mainColor
rebooking = Light mainColor
blackdate = Light gray
today = Other distinct color
#Lektion En lektion måste avbokas minst 4 timmar innan lektionen börjar.
lastcall
empty = Is only returned if the array is empty(as in something went wrong, but lets not break the calendar)
*/
/*

viewfuture = Future dates that can be cancelled
cancelled = Leasons that have been cancelled
viewhistorical = Past leasons ridden
rebooked = Leasons that are rebooked for a customer
rebooking = Leasons that can be rebooked
blackdate = Riding school closed
lastcall(this is a special one if todays date is a leason date) = Other distinct color
empty = Is only returned if the array is empty(as in something went wrong, but lets not break the calendar). It does not need its own color.

*/
/** Common stuff **/
/*Colors */
/** FUTURE **/
.eventsCalendar-daysList li.viewfuture a {
  background-color: #46a546;
  color: white; }

li.eventsCalendar-day.viewfuture a:hover {
  background-color: #a9dba9; }

/** CANCELLED **/
.eventsCalendar-daysList li.cancelled a {
  background: #ffc40d;
  color: white; }

li.eventsCalendar-day.cancelled a:hover {
  background-color: #ffe9a6; }

/** HISTORICAL **/
.eventsCalendar-daysList li.viewhistorical a {
  background: #999999;
  color: white;
  opacity: 0.5; }

li.eventsCalendar-day.viewhistorical a:hover {
  background-color: #e6e6e6;
  opacity: 0.9; }

/** REBOOKED **/
.eventsCalendar-daysList li.rebooked a {
  background: #89b814;
  color: white; }

li.eventsCalendar-day.rebooked a:hover {
  background-color: #cdf075; }

/** REBOOKING **/
.eventsCalendar-daysList li.rebooking a {
  background: #b1eb14;
  color: white; }

li.eventsCalendar-day.rebooking a:hover {
  background-color: #e0f7a1; }

/** BLACKDATE **/
.eventsCalendar-daysList li.blackdate a {
  background: #222222;
  color: white; }

li.eventsCalendar-day.blackdate a:hover {
  background-color: #6f6f6f; }

/** LASTCALL **/
.eventsCalendar-daysList li.lastcall a {
  background: #9d261d;
  color: white; }

li.eventsCalendar-day.lastcall a:hover {
  background-color: #e4776f; }

/** TODAY **/
.eventsCalendar-daysList li.current a {
  color: white;
  background: #049cdb;
  box-shadow: inset 5px 5px 10px #216B7A;
  text-shadow: 2px 2px 2px #216B7A; }

li.eventsCalendar-day.current a:hover {
  background-color: #7bd7fd;
  box-shadow: inset 5px 5px 10px #449FB2;
  text-shadow: 2px 2px 2px #449FB2; }
