{{extend 'layout-customer.html'}}

{{=A('Back', callback=URL('update_week', args=[session.back["week"],session.back["year"]]))}}

{{=session.week}} / 
{{=session.year}} - 
{{=session.startday}}

{{=A('Framåt', callback=URL('update_week', args=[session.forward["week"],session.forward["year"]]))}}

<hr>
<ul class="nav nav-tabs" role="tablist">
{{for day in dayz:}}
    {{if day in master:}}
        <li role="presentation"><a href="#{{=day}}" aria-controls="{{=day}}" role="tab" data-toggle="tab">{{=day}}</a></li>
    {{pass}}
{{pass}}


</ul>

<div class="tab-content">
{{for day in master:}}
    <div role="tabpanel" class="tab-pane" id="{{=day}}">
    {{for time in sorted(sorttime[day]):}}
        {{leason_id = sorttime[day][time]}}
        <div class="dg" data-toggle="collapse" data-target="#{{=leason_id}}" aria-expanded="true" aria-controls="{{=leason_id}}">
            <h4>{{=time}}</h4>
        </div>

        <div id="{{=leason_id}}" class="collapse">
            <div class="row">
        {{for leason_date in sorted(master[day][leason_id]):}}
                <div class="col-md-{{=col_division}}">
                    <div class="list-group">
                        <li class="list-group-item list-group-item-warning">{{=leason_date}}</li>
            {{for rider,status in master[day][leason_id][leason_date]["riders"].iteritems():}}
                            <a href='#' class='list-group-item list-group-item-{{=status}}'>{{=rider}}</a>
            {{pass}}
            {{for i in range(master[day][leason_id][leason_date]["available_slots"]):}}
                            <a href='#' class='list-group-item list-group-item-active'>Ledig plats</a>
            {{pass}}
                        </li>
                    </div>
                </div>
        {{pass}}
            </div>
        </div>
    {{pass}}
    </div>
{{pass}}
</div>

<hr>

<small>Antal veckor i displayen: {{=session.num_of_date_rows}}. Ändra:  
{{=A('1', callback=URL('change_num_of_date_rows', args=['1']))}}
{{=A('2', callback=URL('change_num_of_date_rows', args=['2']))}}
{{=A('3', callback=URL('change_num_of_date_rows', args=['3']))}}
{{=A('4', callback=URL('change_num_of_date_rows', args=['4']))}}
{{=A('6', callback=URL('change_num_of_date_rows', args=['6']))}}
</small>

