{{extend 'layout.html'}}
<h2> Du kikar nu på vecka: <b>{{=week}} {{=year}}</b></h2>
<A HREF="{{=URL('view_leasons_week', args=[backweek,backyear])}}">
<i class="icon-arrow-left"></i>
</A>

<A HREF="{{=URL('view_leasons_week', args=[forwardweek,forwardyear])}}">
<i class="icon-arrow-right"></i>
</A>


<div class="table-responsive">
<table class="table table-striped">
<tr>
    {{for wday in weekdays:}}
    <td><h3>{{=wday}}</td>
    {{pass}}
</tr>
<tr>
    {{for wday in weekdays:}}
        <td>{{=A(str(datez[wday]), _href=URL('view_leasons_day', args=[str(datez[wday])]))}}</td>
    {{pass}}
</tr>
<tr>
    {{for wday in weekdays:}}
    <td>
        {{if len(display_week2[wday]) > 0:}}
            <table>
            <tr> 
            {{for entry in display_week2[wday]:}}
                <td> 
                {{=entry[0]}} 
                </td>
                <td> 
                {{=entry[1]}} 
                </td>
            </tr>
            {{pass}}
            </table>
        {{pass}}
    </td>
    {{pass}}


</tr>
</table>
</div>

