{{extend 'layout.html'}}
<h2> Du kikar nu på: <b>{{=thisweekday}} {{=thisdate}}, {{=str(leason_data.leason_time)[:5]}}</b></h2>


{{if len(db((db.admin_cancelled_leason.id_leason==leason_id) & (db.admin_cancelled_leason.leason_date==(thisdate))).select()) != 0:}}
<h3> <b>Lektionen är Avbokad av instruktör/administratör</b></h3>
{{pass}}

<div class="table-responsive">
<table class="table">
<tr> 
    <td><h4>Namn</td>
    <td>Status</td>
    <td>Avboka</td>
</tr>
{{if num_riders > 0:}}
    {{for rider in reg_riders:
        if rider not in canx_riders:}}
        <tr bgcolor="#669900">
        <td>{{=rider["first_name"]}} {{=rider["last_name"]}}</td>
        <td>Reguljär ryttare</td>
        <td>{{=A('Avboka lektionen', _href=URL(c='customer', f='cancel_leason', args=[rider["id"], leason_id, thisdate]))}} </td>
        </tr>
        {{pass}}
    {{pass}}
{{pass}}

{{if num_rebooks > 0:}}
    {{for rider in rebook_riders:}}
        <tr bgcolor="#66FF99">
        <td>{{=rider["first_name"]}} {{=rider["last_name"]}}</td>
        <td>Igenridning</td>
        </tr>
    {{pass}}
{{pass}}
    
{{if num_canx > 0:}}
    {{for rider in canx_riders:}}
        <tr bgcolor="#CC3300">
        <td>{{=rider["first_name"]}} {{=rider["last_name"]}}</td>
        <td>Avbokat</td>
        </tr>
    {{pass}}
{{pass}}


</table>
</div>

