{{extend 'layout.html'}}
<h2> Du kikar nu på vecka: <b>{{=week}} {{=year}}</b></h2>
<A HREF="{{=URL('view_leasons_week', args=[backweek,backyear])}}">
<i class="icon-arrow-left"></i>
</A>

<A HREF="{{=URL('view_leasons_week', args=[forwardweek,forwardyear])}}">
<i class="icon-arrow-right"></i>
</A>


<div class="table-responsive">
<table class="table table-striped">
<tr>
    <td><h3>Måndag </td>
    <td><h3>Tisdag </td>
    <td><h3>Onsdag </td>
    <td><h3>Torsdag </td>
    <td><h3>Fredag </td>
    <td><h3>Lördag </td>
    <td><h3>Söndag </td>
</tr>
<tr>
    <td>{{=str(datez["Måndag"])}}</td>
    <td>{{=str(datez["Tisdag"])}}</td>
    <td>{{=str(datez["Onsdag"])}}</td>
    <td>{{=str(datez["Torsdag"])}}</td>
    <td>{{=str(datez["Fredag"])}}</td>
    <td>{{=str(datez["Lördag"])}}</td>
    <td>{{=str(datez["Söndag"])}}</td>
</tr>
<tr>
    <td>
    {{for entry in display_week2["Måndag"]:}}
    <br>
    {{=entry}} 
    {{pass}}
    </td>

    <td>
    {{for entry in display_week2["Tisdag"]:}}
    <br>
    {{=entry}} 
    {{pass}}
    </td>


    <td>
    {{for entry in display_week2["Onsdag"]:}}
    <br>
    {{=entry}} 
    {{pass}}
    </td>

    <td>
    {{for entry in display_week2["Torsdag"]:}}
    <br>
    {{=entry}} 
    {{pass}}
    </td>
    <td>
    {{for entry in display_week2["Fredag"]:}}
    <br>
    {{=entry}} 
    {{pass}}
    </td>
    <td>
    {{for entry in display_week2["Lördag"]:}}
    <br>
    {{=entry}} 
    {{pass}}
    </td>
    <td>
    {{for entry in display_week2["Söndag"]:}}
    <br>
    {{=entry}} 
    {{pass}}
    </td>


</tr>
</table>
</div>

