{{extend 'layout.html'}}
<h1>Lektioner för <b>{{=B(db.customer[cust_id]["name"])}} {{=(db.semester[retrieve_current_semester()[0]]["name"])}}


</h1>
{{if db.customer[cust_id].credits > 0:}}
Du har igenridningskrediter att spendera! <b>rebook calendar is <a href="rebook.html">here</a></b>
{{pass}}


<div class="container" id="calendar">
    <div class="row">
        <div id="eventCalendarDefault"></div>
        <script>
            $(document).ready(function() {
                $("#eventCalendarDefault").eventCalendar({
                    txt_NextEvents: 'Next events showing up to four.',
                    eventsLimit: 4,
                    eventsScrollable: true,
                    cacheJson: false,
                    showDescription: true,
                    eventsjson: 'leasondates.json'
                }).tooltip({"selector": "li"});

                //$("#eventCalendarDefault li").tooltip();

            });
        </script>
    </div>
</div>

