{{extend 'layout.html'}}
<h1>Here is your lessons {NAME}</h1>
<b>rebook or do other stuff .. .</b>

<div class="container" id="calendar">
    <div class="row">
        <div id="eventCalendarDefault"></div>
        <script>
            $(document).ready(function() {
                $("#eventCalendarDefault").eventCalendar({
                    eventsjson: 'customer/events.json' // link to events json
                });
            });
        </script>
    </div>
</div>

{{=BEAUTIFY(response._vars)}}
