{{extend 'layout.html'}}
<h1>This is the customerCalendar.html template</h1>
<b>In laddad kalender för en-GB språk, fel på rad 542 i calender.js tooltip fanns ej :/</b>

<div class="container" id="calendar">
    <div class="row">
        <div id="eventCalendarDefault"></div>
        <script>
            $(document).ready(function() {
                $("#eventCalendarDefault").eventCalendar({
                    eventsjson: 'rimi/customer/events.json' // link to events json
                });
            });
        </script>
    </div>
</div>

{{=BEAUTIFY(response._vars)}}
