{{extend 'layout.html'}}
<h1>Here is your lessons {NAME}</h1>
<b><a href="index.html"> TILLBAKS</a></b>

<div class="container" id="calendar">
    <div class="row">
        <div id="eventCalendarDefault"></div>
        <script>
            $(document).ready(function() {
                $("#eventCalendarDefault").eventCalendar({
                    eventsLimit: 400,
                    eventsjson: 'rebookdates.json' // link to events json
                });
            });
        </script>
    </div>
</div>

{{=BEAUTIFY(response._vars)}}
