{{extend 'layout-customer.html'}}
{{if session.flasher != "":}}
    !!! ATTENCIONE !!! MsG: {{=session.flasher}} !!! ENDCELENTO OF EL MESSAGA !!!
    {{session.flasher = ""}}
{{pass}}

<div class="row">
    <div class="col-md-3">
        <br><br><br><br><br>
        <div id="stuffithere">
        </div>
    </div>
    <div class="col-md-6">
        <h4>Lektioner</h4>
              <div class="pricing-option">
                   <div class="pricing-top top">
                      {{for leason in leasons:}}
                    <div>
                         <span class="pricing-edition">
                            {{=leason['date']}} {{=leason['title']}}</small>
                         </span>
                         <span class="price">
                            <span class="price-amount">
                               {{=leason['weekday']}}<br>{{=str(leason['time'])[:5]}}
                            </span>
                            <br><br><small>
                            {{if leason['horse']:}}
                                Din häst: {{=leason['horse']}} 
                                {{pix=display_horse_pic(leason['horse'])}}
                                {{if pix:}}
                                     <img src="{{=URL('rimi','default','download', args=pix)}}">
                                {{pass}}
                            {{pass}}
                            {{if leason['title'] == "":}} 
                                {{=A("Avboka lektionen", callback=URL('cancel_leason', vars=dict(confirmed="notyet",cust_id=cust_id,leason_id=leason['leason_id'],leason_date=leason['date']) ), target='stuffithere')}}
                            {{pass}}
                            {{=leason['title']}}
                            </small>
                         </span>
                      </div>
                      {{pass}}
                   </div> <!-- pricing-top -->
               </div><!-- /pricing-option -->
    </div> <!-- col-md-6 -->

{{if customer_credits > 0:}}

    <div class="col-md-3">
        <a class="btn btn-default btn-lg" type="button" href='{{=URL('rebook')}}'>
  Boka en igenridning &#10095;</a>    
<br>
<br>
<br>
        <div class="pricing-option">
                   <div class="pricing-top">
                         <span class="pricing-edition">
                        Du har: 
                        </span>
                         <span class="price">
                            <span class="price-amount">
                            {{=customer_credits}}
                            </span>
                            <br><br><small> lektioner att rida igen. <br>
                            </small>
                        </span>
                    </div>
        </div>

    </div> <!-- col-md-3 -->

{{pass}}

</div> <!-- ends row -->




<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="blue">
            <div class="content center">
                {{for leason in leasons:}}
			        <div><h3>{{=leason['date']}}</h3></div>
                {{pass}}
            </div>
        </div>
    </div>
</div> <!-- ends row -->

<div class="row">
    <div class="col-md-4">
    {{if len(rebooked) > 0:}}
        <h6>Inbokade igenridningar</h6>
            <div class="dg">
                <p class="bg-info">
                    {{for rebooking in rebooked:}}
                        {{=rebooking['weekday']}} - kl {{=str(rebooking['time'])[:5]}} - {{=rebooking['date']}} 
                        <br>
                    {{pass}}
                    </small>
                </p>
            </div> 
    {{pass}}
    </div> <!-- col -->

    <div class="col-md-4">
    {{if len(cancelled) > 0:}}
        <h6>Avbokade lektioner</h6>
            <div class="dg">
                <p class="bg-info">
                    {{for canx in cancelled:}}
                        {{=canx['weekday']}} - kl {{=str(canx['time'])[:5]}} - {{=canx['date']}}
                        <br>
                    {{pass}}
                    </small>
                </p>
            </div> 
    {{pass}}
    </div> <!-- col -->








</div> <!-- rowz -->


    <script type="text/javascript">
$('.top').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '.center'
});


$('.center').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  asNavFor: '.top',
  variableWidth: true,
  focusOnSelect: true
});

</script>

