{{extend 'layout-test.html'}}

<!-- PRICING SECTION -->
      <div class="container">
        <h4>Boka en igenridning</h4>
                <small><a href="{{=URL('view')}}">Titta på dina fina lektioner</a></small>
               <div class="pricing-option">
                   <div class="pricing-top top">
                      {{for rebooking in rebookable:}}
                      <div>
                         <span class="pricing-edition">
                            Boka igenridning
                         </span>
                         <span class="price">
                            <span class="price-amount">
                               {{=rebooking['weekday']}} - {{=str(rebooking['time'])[:5]}}
                            </span>
                            <br><br><small>{{=rebooking['date']}}</small>
                         </span>
                      </div>
                      {{pass}}
                   </div> <!-- pricing-top -->
               </div><!-- /pricing-option -->
      </div><!-- container -->


                <section id="features" class="blue">
                        <div class="content">
				<div class="center">
{{for rebooking in rebookable:}}
					<div><h3>{{=rebooking['date']}}</h3></div>
{{pass}}
				</div>
			</div>
		</section>




    <div class="row">
        <div class="span12">
            <div class="col-md-6"> 
                test
            </div>
            <div class="col-md-6"> 
                test
            </div>
        </div>
    </div>







    <script type="text/javascript">
$('.top').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '.center'
});


$('.center').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  asNavFor: '.top',
  variableWidth: true,
  focusOnSelect: true
});

</script>

