{{extend 'layout-test.html'}}

<h1>ZIZIZIZIZIZIZ</h1>

{{if session.flasher != "":}}
    !!! ATTENCIONE !!! MsG: {{=session.flasher}} !!! ENDCELENTO OF EL MESSAGA !!!
    {{session.flasher = ""}}
{{pass}}

<div class="row">
    <div class="col-md-3">
        <a class="btn btn-default btn-lg" type="button" href='{{=URL('view')}}'>
  &#10094;  Tillbaks till mina lektioner</a> 


        <br><br><br><br><br>
        <div id="stuffithere">
        </div>
    </div>
    <div class="col-md-6">
        <h4>Boka igenridning</h4>
              <div class="pricing-option">
                   <div class="pricing-top top">
                      {{for rebooking in rebookable:}}
                    <div>
                         <span class="pricing-edition">
                            {{=rebooking['date']}}</small>
                         </span>
                         <span class="price">
                            <span class="price-amount">
                               {{=rebooking['weekday']}}<br>{{=str(rebooking['time'])[:5]}}
                            </span>
                            <br><br><small>
                            {{=rebooking['title']}}
                            </small>
                         </span>
                      </div>
                      {{pass}}
                   </div> <!-- pricing-top -->
               </div><!-- /pricing-option -->
    </div> <!-- col-md-6 -->

{{if customer_credits > 0:}}

    <div class="col-md-3">
        <h4>.</h4><br>
        <div class="pricing-option">
                   <div class="pricing-top">
                         <span class="pricing-edition">
                        Du har: 
                        </span>
                         <span class="price">
                            <span class="price-amount">
                            {{=customer_credits}}
                            </span>
                            <br><br><small> lektioner att rida igen. <br>
                            </small>
                        </span>
                    </div>
        </div>

    </div> <!-- col-md-3 -->

{{pass}}

</div> <!-- ends row -->




<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="blue">
            <div class="content center">
                      {{for rebooking in rebookable:}}
			        <div><h3>{{=rebooking['date']}}</h3></div>
                {{pass}}
            </div>
        </div>
    </div>
</div> <!-- ends row -->


<div class="row">
    <div class="col-md-4">
    {{if len(rebooked) > 0:}}
        <h6>Inbokade igenridningar</h6>
            <div class="dg">
                <p class="bg-info">
                    {{for rebooking in rebooked:}}
                        {{=rebooking['weekday']}} - kl {{=str(rebooking['time'])[:5]}} - {{=rebooking['date']}}
                        <br>
                    {{pass}}
                    </small>
                </p>
            </div> <!-- pricing-top -->
        </div><!-- /pricing-option -->
    {{pass}}
    </div> <!-- col -->
</div> <!-- rowz -->



    <script type="text/javascript">
$('.top').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '.center'
});


$('.center').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  asNavFor: '.top',
  variableWidth: true,
  focusOnSelect: true
});

</script>

