{{extend 'layout-test.html'}}

<!-- PRICING SECTION -->
                <small><a href="{{=URL('rebook')}}">Boka en igenridning</a></small>
<div class="row">

    <div class="col-md-offset-3 col-md-6">

        <h4>Dina lektioner<h4>
               <div class="pricing-option">
                   <div class="pricing-top top">
                      {{for leason in leasons:}}
                      <div>
                         <span class="pricing-edition">
                            {{=leason['date']}}</small>
                         </span>
                         <span class="price">
                            <span class="price-amount">
                               {{=leason['weekday']}}<br>{{=str(leason['time'])[:5]}}
                            </span>
                            <br><br><small>
                            {{if leason['horse']:}}
                            Din häst: {{=leason['horse']}} 
                            {{pass}}
                            </small>
                         </span>
                      </div>
                      {{pass}}
                   </div> <!-- pricing-top -->
               </div><!-- /pricing-option -->
    </div> <!-- col-md-4 -->

    <div class="col-md-2">

    </div> <!-- col-md-4 -->
</div> <!-- ends row -->




<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="blue">
            <div class="content center">
                {{for leason in leasons:}}
			        <div><h3>{{=leason['date']}}</h3></div>
                {{pass}}
            </div>
        </div>
    </div>
</div>


    <script type="text/javascript">
$('.top').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '.center'
});


$('.center').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  asNavFor: '.top',
  variableWidth: true,
  focusOnSelect: true
});

</script>


