{{extend 'layout-test.html'}}

<h1>Bizniss! Knarkpipa zwAg</h1>




<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h4>Lektioner</h4>
               <div class="pricing-option">
                   <div class="pricing-top top">
                      {{for leason in leasons:}}
                      <div>
                         <span class="pricing-edition">
                            {{=leason['date']}}</small>
                         </span>
                         <span class="price">
                            <span class="price-amount">
                               {{=leason['weekday']}}<br>{{=str(leason['time'])[:5]}}
                            </span>
                            <br><br><small>
                            {{if leason['horse']:}}
                                Din häst: {{=leason['horse']}} 
                                {{if display_horse_pic(leason['horse']):}}
                                    {{pix=display_horse_pic(leason['horse'])}}
                                     <img src="{{=URL('rimi','default','download', args=pix)}}">
                                {{pass}}
                            {{pass}}
                            </small>
                         </span>
                      </div>
                      {{pass}}
                   </div> <!-- pricing-top -->
               </div><!-- /pricing-option -->
    </div> <!-- col-md-4 -->

</div> <!-- ends row -->




<div class="row">
    <div class="col-md-offset-3 col-md-6">
        <div class="blue">
            <div class="content center">
                {{for leason in leasons:}}
			        <div><h3>{{=leason['date']}}</h3></div>
                {{pass}}
            </div>
        </div>
    </div>
</div> <!-- ends row -->

<div class="row">
    <div class="col-md-4">
    {{if len(rebooked) > 0:}}
        <h6>Inbokade igenridningar</h6>
            <div class="dg">
                <p class="bg-info">
                    {{for rebooking in rebooked:}}
                        {{=rebooking['weekday']}} - kl {{=str(rebooking['time'])[:5]}} - {{=rebooking['date']}} 
                        <br>
                    {{pass}}
                    </small>
                </p>
            </div> <!-- pricing-top -->
        </div><!-- /pricing-option -->
    {{pass}}
    </div> <!-- col -->
</div> <!-- rowz -->


    <script type="text/javascript">
$('.top').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: false,
    fade: true,
    asNavFor: '.center'
});


$('.center').slick({
  centerMode: true,
  centerPadding: '60px',
  slidesToShow: 3,
  asNavFor: '.top',
  variableWidth: true,
  focusOnSelect: true
});

</script>

